<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
<body>

<form th:method="post" th:action="@{/admin/newUser}" th:object="${user}">
    <label for="userName_add">User Name</label>
    <input type="text" th:field="*{username}" id="userName_add">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
    <br>
    <label for="password_add">Password</label>
    <input type="password" th:field="*{password}" id="password_add">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br>
    <label for="email_add">User Email</label>
    <input type="email" th:field="*{email}" id="email_add">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br>
    <label for="yearOfBirth_add">yearOfBirth</label>
    <input type="number" th:field="*{yearOfBirth}" id="yearOfBirth_add">
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year Of Birth Error</div>
    <br>

    <div th:each="role : ${roleList}">
        <input type="checkbox" th:text="${role.getAuthority()}" th:value="${role.getId()}" th:id="'role_' + ${role}" name="roles"/>
        <label th:for="'role_' + ${role}" ></label><br/>
    </div>
    <input type="submit" value="Add User">
    <input type="hidden" name="id" th:value="${user.getId()}"/>
</form>


</body>
</html>