<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<h1>FOR ROLE_USER</h1>

<form th:action="@{/user/showData}" th:method="GET">
    <input type="submit" value="Inf about User"/>
</form>

<form th:action="@{/admin}" th:method="GET">
    <input type="submit" value="Admin Page"/>
</form>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>